.list-group-item[data_set]
  %h5.mb-1= link_to data_set.title, data_set, class: "text-dark"

  %p.mb-2.text-muted= strip_tags(data_set.body).truncate(150)

  %div
    - data_set.tags.each do |tag|
      = link_to "#{tag.name}", tag_path(tag), class: "btn btn-outline-secondary btn-sm"
