.mb-4.card
  .card-body
    %h5.card-title= link_to data_set.title, data_set, class: "text-dark"

    %p.card-text
      %small= strip_tags(data_set.body).truncate(150)

    %div
      - data_set.tags.each do |tag|
        = link_to "#{tag.name}", tag_path(tag), class: "btn btn-outline-secondary btn-sm"
