%section.py-5
  .container
    .py-5.text-center
      = image_tag 'logo.png', width: '100'
      %h2.mt-4
        %span.font-weight-bold 데이터퍼블릭
        %small.font-weight-light .kr
      %p.p-2.lead.text-muted
        주요 이슈의 원데이터를 모읍니다