%section.py-5
  .container
    .d-flex.justify-content-center.align-items-center
      %h2.font-weight-bolder.mx-3.mb-0.pb-3.border-bottom.border-primary.border-primary-2
        = t('menu.links')
        %h2.px-2.mb-0.px-2.mb-0.pb-3
          = link_to t('menu.data_sets'), data_sets_path, class: "text-muted"
    %hr.mt-0.mb-4
    .container
    .list-group
      = render @links

    .d-flex.justify-content-center
      = paginate @links