.card.text-white.border
  - if archive.cover.attached?
    .card-image
      = image_tag archive.cover
  .card-img-overlay
    = link_to archive_link(archive), class: "text-white" do
      %div{ style: 'position: absolute;' }
        %h3.verflow-hidden.text
          = archive.title
        %p 데이터 #{archive.data_sets.count}건

