%section.py-5
  .container
    .d-flex.justify-content-between.align-items-center
      %h2.pb-2
        = t('menu.archives')
      %small
        - if user_signed_in?
          = link_to t('link.new_archive'), new_archive_path, class: "btn btn-outline-primary"
    %hr.mb-4.mt-0.hr-width-2
    %section
      .row
        - @archives.each do |archive|
          .col-md-4.col-sm-6.mb-4
            = render archive
<!-- 아카이브 생성시 작성한 링크와 메인페이지에 반영되는 링크가 일치하지 않는 오류 -->
    = paginate @archives
