%section.py-5
  .container
    .d-flex.justify-content-between.align-items-center
      %h2.pb-2
        = t('menu.posts')
      - if user_signed_in?
        = link_to t('link.new_post'), new_post_path

    %section
      .row
        - @posts.each do |post|
          .col-md-4.col-sm-6.mb-4
            = render post

    = paginate @posts
