%tr[user]
  %td= user.email
  %td= user.name
  %td
    = select_tag 'user[role]', options_for_select(User.roles, user.role), { include_blank: true, data: { remote: true, url: admin_user_path(user), method: :put }, class: 'form-control form-control-sm' }
