%section
  %h4.text-muted= t('menu.search')
  .bg-white.border.p-4.mb-4
    = form_with url: data_sets_path, method: :get, local: true do |f|
      = f.text_field :q, value: params[:q], class: "form-control mb-2"
      = f.submit t('btn.search'), class: "btn btn-outline-primary btn-sm"